body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantar;
    margin: 0px;
}

#container{
    padding-left: 250px;
    padding-right: 250px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    gap: 25px;
    display: flex;
    list-style-type: none;
}

.container1body{
    display: flex;
    gap: 100px;
    align-items: center;
    
    padding-top: 80px;
    padding-bottom: 80px;
}
.header-image{
    width: 500px;
    height: 250px;
}
button{
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: 30;
}

.container1, .footer{
    background-color: #1F2937;
    color: #E5E7Eb;
}

.container2{
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 40px;
    padding-bottom: 50px;

}
.content2{
    display: flex;
    justify-content: space-between;
    text-align: center ;
    padding-top: 40px;
    padding-bottom: 50px;
    gap: 10px;

}
.image{
  
    align-items: center;
    border: 4px solid #3882F6;
    border-radius: 10px;
    height: 170px;
    width: 170px;
}
.images{
    width: 180px;
    text-align: center ;
}
.container3{
    background-color: #E5E7Eb;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 350px;
    padding-right: 350px;
}
.quote{
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
    color: #1F2937;
    margin: none;
}

.author{
    text-align: end;
    font-weight: bold;
    margin-right: 100px;
    font-size: 20px;
}

.container4{
padding-top: 50px ;
padding-bottom: 50px ;
}
.box{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:  #3882F6;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 10px;
    
    
}
.header4{
    font-weight: bold;
    font-size: 20px;
}

#btnsign{
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #3882F6;
    border: 2px solid #ffffff;
    color: white;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text4{
    font-size: 15px;
    font-weight: lighter;
}

.footer{
    padding: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.header1{
    font-size: 45px;
    font-weight: 900;
    color: #F9FAF8;
    line-height:50px;
}
.logo{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8
}
.content1{
 padding-bottom: 10px;
}

.title{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}
